@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{
	background: #142522 url(../img/bg.jpg) no-repeat center 0;
}
header{
	height: 770px;
}
nav{
	width: 990px;
	margin: 0 auto;
	display: block;
	line-height: 53px;
	font-size: 20px;
	padding-top: 102px;
}
nav a{
	float: left;
	padding: 0 30px;
	color: #ffdac3;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
nav .nav_right{
	float: right;
}
.logo{
	width: 366px;
	height: 197px;
	display: block;
	margin: -80px auto;
	opacity: .5;
	text-indent: -99999px;
}
.wrap{
	width: 986px;
	margin: 0 auto;
}
.left{
	width: 263px;
	float: left;
	min-height: 842px;
	margin-top: 16px;
	background: url(../img/left.png) no-repeat center 100px;
}
.download{
	width: 273px;
	height: 90px;
	display: block;
	margin: 0 0 0 -9px;
	text-indent: -99999px;
	background: url(../img/download.png) no-repeat center 0;
}
.download:hover{
	background-position: center bottom;
}
.qr_code{
	width: 215px;
	height: 215px;
	display: block;
	margin: 37px auto 35px;
}
.download_item{
	height: 76px;
	display: block;
	text-indent: -99999px;
}
.download_item + .download_item{
	margin: 11px 0 18px 0;
}
.block_link{
	width: 126px;
	height: 127px;
	display: inline-block;
	margin: 0 1px 11px 2px;
	text-indent: -99999px;
}
.left_banner{
	width: 280px;
	height: 221px;
	display: block;
	margin: 10px 0 0 -8px;
	overflow: hidden;
	background: url(../img/left_banner_bg.png) no-repeat center center;
}
.left_banner img{
	width: 233px;
	height: 128px;
	display: block;
	border-radius: 6px;
	margin: 47px auto 0;
}

.right{
	width: 700px;
	margin-left: 288px;
}
.crumbs{
	width: 646px;
	height: 74px;
	padding: 46px 48px 0;
	margin: 0 0 0 -21px;
	text-align: right;
	color: #aeaeae;
	font-size: 16px;
	line-height: 74px;
	background: url(../img/crumbs.png) no-repeat center 0;
}
.crumbs a{
	color: #aeaeae;
}
.crumbs_title{
	display: block;
	float: left;
	margin: 20px 0 0;
}
.tabs{
	width: 698px;
	height: 57px;
	overflow: hidden;
	margin: 7px auto 0;
	background: url(../img/tab_bg.png) no-repeat 0 0;
}
.tabs a{
	width: 25%;
	height: 57px;
	line-height: 57px;
	display: block;
	text-align: center;
	color: #9f9b98;
	float: left;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 1px 0 0 #000 inset;
}
.tabs a:hover,
.tabs a.current{
	color: #fff2ea;
	text-decoration: none;
	background: url(../img/tab_current.jpg) no-repeat center center;
	background-size: 100% auto;
}

.box{
	width: 708px;
	padding-top: 80px;
	margin: 0 -4px;
	background: url(../img/box_head.png) no-repeat center 0;
}
.box_foot{
	padding-bottom: 36px;
	background: url(../img/box_foot.png) no-repeat center bottom;
}
.box_core{
	padding: 0 40px;
	background: url(../img/box_bg.png) repeat-y center 0;
}
.box_core.no_padding{
	padding: 0 17px;
}
.box_real{
	width: 100%;
	float: right;
	margin: -50px 0 -16px;
	color: #fff;
	font-size: 14px;
}
.box .clear{
	clear: right;
}
.role{

}
.role_left{
	width: 214px;
	float: left;
}
.role_left img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.role_right{
	padding-right: 26px;
	margin-left: 214px;
}
.role_right h2{
	
}
.pgn{
	line-height: 27px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	padding: 16px 0;
}
.pgn *{
	display: inline-block;
	border: 1px solid #121716;
	background: #39393c url(../img/pgn_bg.jpg) repeat-x 0 0;
	background: linear-gradient(#434345, #2c2c2e);
	padding: 0 10px;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 0 #5a5b5c inset;
}
.pgn span,
.pgn a:hover{
	background: #222223;
	box-shadow: 0 0 3px #151717 inset;
	border-color: #151717;
	text-decoration: none;
}












