@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{
	background: #142522 url(../img/bg.jpg) no-repeat center 0;
}
header{
	height: 770px;
}
nav{
	width: 990px;
	margin: 0 auto;
	display: block;
	line-height: 53px;
	font-size: 20px;
	padding-top: 102px;
}
nav a{
	float: left;
	padding: 0 30px;
	color: #ffdac3;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
nav .nav_right{
	float: right;
}
.logo{
	width: 366px;
	height: 197px;
	display: block;
	margin: -80px auto;
	opacity: .5;
	text-indent: -99999px;
}
.wrap{
	width: 986px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.left{
	width: 263px;
	float: left;
	min-height: 842px;
	margin-top: 16px;
	background: url(../img/left.png) no-repeat center 100px;
}
.download{
	width: 273px;
	height: 90px;
	display: block;
	margin: 0 0 0 -9px;
	text-indent: -99999px;
	background: url(../img/download.png) no-repeat center 0;
}
.download:hover{
	background-position: center bottom;
}
.qr_code{
	width: 215px;
	height: 215px;
	display: block;
	margin: 37px auto 35px;
}
.download_item{
	height: 76px;
	display: block;
	text-indent: -99999px;
}
.download_item + .download_item{
	margin: 11px 0 18px 0;
}
.block_link{
	width: 126px;
	height: 127px;
	display: inline-block;
	margin: 0 1px 11px 2px;
	text-indent: -99999px;
}
.left_banner{
	width: 280px;
	height: 221px;
	display: block;
	margin: 10px 0 0 -8px;
	overflow: hidden;
	background: url(../img/left_banner_bg.png) no-repeat center center;
}
.left_banner img{
	width: 233px;
	height: 128px;
	display: block;
	border-radius: 6px;
	margin: 47px auto 0;
}

.right{
	width: 700px;
	margin-left: 288px;
}
.crumbs{
	width: 646px;
	height: 74px;
	padding: 46px 48px 0;
	margin: 0 0 0 -21px;
	text-align: right;
	color: #aeaeae;
	font-size: 16px;
	line-height: 74px;
	background: url(../img/crumbs.png) no-repeat center 0;
}
.crumbs a{
	color: #aeaeae;
}
.crumbs_title{
	display: block;
	float: left;
	margin: 20px 0 0;
}
.tabs{
	width: 698px;
	height: 57px;
	overflow: hidden;
	margin: 7px auto 0;
	background: url(../img/tab_bg.png) no-repeat 0 0;
}
.tabs a{
	width: 25%;
	height: 57px;
	line-height: 57px;
	display: block;
	text-align: center;
	color: #9f9b98;
	float: left;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 1px 0 0 #000 inset;
}
.tabs a:hover,
.tabs a.current{
	color: #fff2ea;
	text-decoration: none;
	background: url(../img/tab_current.jpg) no-repeat center center;
	background-size: 100% auto;
}

.box{
	width: 708px;
	padding-top: 80px;
	margin: 0 -4px;
	background: url(../img/box_head.png) no-repeat center 0;
}
.box_foot{
	padding-bottom: 36px;
	background: url(../img/box_foot.png) no-repeat center bottom;
}
.box_core{
	padding: 0 40px;
	background: url(../img/box_bg.png) repeat-y center 0;
}
.box_core.no_padding{
	padding: 0 17px;
}
.box_real{
	width: 100%;
	float: right;
	margin: -50px 0 -16px;
	color: #fff;
	font-size: 14px;
}
.box .clear{
	clear: right;
}
.role{

}
.role_left{
	width: 214px;
	float: left;
}
.role_left img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.role_right{
	padding-right: 26px;
	margin-left: 214px;
	line-height: 25px;
}
.role_right h2{
	line-height: 45px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px dotted #7f7f7f;
	margin-bottom: 10px;
}
.pgn{
	line-height: 27px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	padding: 16px 0;
}
.pgn *{
	display: inline-block;
	border: 1px solid #121716;
	background: #39393c url(../img/pgn_bg.jpg) repeat-x 0 0;
	background: linear-gradient(#434345, #2c2c2e);
	padding: 0 10px;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 0 #5a5b5c inset;
}
.pgn span,
.pgn a:hover{
	background: #222223;
	box-shadow: 0 0 3px #151717 inset;
	border-color: #151717;
	text-decoration: none;
}
.article_img{
	float: left;
	margin-right: 15px;
}
article{
	min-height: 848px;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
}
article h1{
	font-size: 20px;
	color: #e5a52f;
	line-height: 46px;
	margin-bottom: 10px;
	border-bottom: 2px dotted #7f7f7f;
}
article.news{
	min-height: 605px;
	clear: right;
	position: relative;
	padding-bottom: 40px;
}
article.news h1{
	padding: 15px 0;
	text-align: center;
	line-height: 30px;
	border-bottom: none;
}
article h1 span{
	color: #aeaeae;
	font-size: 14px;
	display: block;
	line-height: 22px;
}
article p{
	text-indent: 28px;
}
.navi_link{
	font-size: 12px;
	color: #aeaeae;
	position: absolute;
	bottom: 0;
	left: 0;
}
.navi_link.next{
	left: auto;
	right: 0;
}
.bro_gallery{
	text-align: center;
}
.bro_gallery li{
	width: 48%;
	padding: 10px 0;
	vertical-align: top;
	display: inline-block;
}
.bro_gallery li h3{
	font-size: 16px;
	padding: 5px 0 3px;
}
.bro_gallery img{
	max-width: 100%;
}
.sns{
	height: 24px;
	float: right;
}
.ad{
	display: block;
	margin: 10px 0 50px;
}
.download_box{
	margin-top: 17px;
	margin-bottom: 17px;
}
.download_title{
	height: 20px;
	color: #e9c7a6;
	font-size: 18px;
	padding: 36px 0 0 243px;
	margin-top: 10px;
	background: url(../img/download_title.jpg) no-repeat 0 0;
}
.download_list{
	text-align: center;
}
.download_list > li{
	width: 48%;
	vertical-align: top;
	display: inline-block;
	padding: 30px 0 20px;
}
.download_list > li > a{
	width: 262px;
	height: 83px;
	display: block;
	text-indent: -99999px;
	background: url(../img/download_btn.png) no-repeat 0 0;
}
.download_list > li + li > a{
	background-position: right 0;
}
.download_text{
	padding-top: 6px;
}
.download_text li{
	width: 230px;
	line-height: 25px;
	padding-left: 15px;
}
.download_text strong{
	width: 56px;
	float: left;
	color: #e6a62f;
	display: block;
	position: relative;
}
.download_text strong.ii_words{
	letter-spacing: 28px;
	white-space: nowrap;
}
.download_text strong::after{
	content: ':';
	position: absolute;
	right: 0;
	margin-right: -5px;
	letter-spacing: 0px;
}
.download_text span{
	display: block;
	margin-left: 68px;
	text-align: left;
}
.download_title_2{
	background-position: 0 bottom;
}
.download_qrcode{
	width: 212px;
	height: 212px;
	display: block;
	float: left;
	margin: 20px 0 5px;
}
.download_right{
	margin: 20px 0 0 285px;
	padding-top: 70px;
	line-height: 25px;
}
.tabs_home{
	letter-spacing: 10px;
	text-indent: 5px;
}
.tabs_item{
	display: none;
}
.tabs_item.show{
	display: block;
}
.list_top_link{
	display: block;
	line-height: 78px;
	color: #d63333;
	font-size: 22px;
	text-align: center;
	text-indent: -40px;
	position: relative;
	border-right: 1px solid #060b0a;
	border-left: 1px solid #060b0a;
	background: url(../img/grey_1.png) repeat 0 0;
}
.list_top_link::before{
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 -2px;
	background: url(../img/dotted.jpg) repeat-x 0 0;
}
.list_top_link::after{
	content: '';
	width: 12px;
	height: 11px;
	background: url(../img/arrow.jpg) no-repeat center center;
	position: absolute;
	top: 50%;
	margin: -5px 0 0 40px;
}
.home_list{
	min-height: 369px;
	border: 1px solid #060b0a;
	border-top: none;
	padding: 15px 0;
	background: url(../img/grey_0.png) repeat 0 0;
}
.home_list a{
	line-height: 46px;
	display: block;
	font-size: 14px;
	color: #939290;
	padding: 0 30px 0 50px;
	background: url(../img/arrow.jpg) no-repeat 30px center;
}
.home_list a:hover{
	color: #e72a0b;
	text-decoration: none;
}
.home_list a span{
	float: right;
}
.home_list a strong{
	width: 500px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.home_right{
	padding-top: 46px;
}
.gallery{
	width: 693px;
	height: 371px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.gallery a.gallery_item{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.gallery_item .gallery_info{
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #fff;
	line-height: 17px;
	padding: 5px 10px 15px;
	box-sizing: border-box;
	background: url(../img/grey_1.png) repeat 0 0;
}
.gallery_item .gallery_info strong{
	font-size: 16px;
	display: block;
	line-height: 30px;
}
.gallery img{
	width: 100%;
	height: 100%;
	display: block;
}
.slidesjs-pagination{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	text-align: right;
}
.slidesjs-pagination li{
	display: inline-block;
	margin: 0 3px;
}
.slidesjs-pagination li a{
	width: 25px;
	height: 5px;
	display: block;
	background: #fff;
	text-indent: 99999px;
	margin-top: 3px;
	float: left;
	border: 1px solid #000;
}
.slidesjs-pagination li a.active{
	height: 8px;
	margin-top: 0;
	background: #de6003;
}
.gallery_thumb{
	width: 693px;
	margin: 0 auto 35px;
	overflow: hidden;
}
.gallery_thumb img{
	width: 171px;
	height: 92px;
	display: block;
	float: left;
	margin: 3px 0 0 3px;
}
.gallery_thumb img:first-child{
	margin-left: 0;
}










