html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
body {
  line-height: 1;
  /*background: #f6f6f6 url(../img/logo_slogan.png) no-repeat center bottom;*/
  background: #132321;
  background-size: 70px 53px;
}
body, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  text-decoration: none;
}
a{color: #313131;text-decoration: none;}
/*a:hover{text-decoration: underline;}*/
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none !important;
}
.op0{
  opacity: 0;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
header{
  width: 100%;
  height: 222px;
  background: url('../img/bg_header.png') no-repeat;
  background-size: 100% auto;
  padding-bottom: 21px;
}
header .navi{
  position: relative;
  width: 100%;
  height: 84px;
  background: url('../img/bg_navi.png') no-repeat;
  background-size: 100% 84px;
}
header .navi .index{
  display: block;
  position: absolute;
  top: 22px;
  left: 10px;
  width: 36px;
  height: 11px;
  background: url('../img/index_in.png') no-repeat;
  background-size: 36px 11px;

}
header .navi .game{
  display: block;
  position: absolute;
  top: 22px;
  left: 56px;
  width: 36px;
  height: 11px;
  background: url('../img/index_ga.png') no-repeat 0px 0px;
  background-size: 36px 11px;

}
header .navi .down{
  display: block;
  position: absolute;
  top: 22px;
  right: 10px;
  width: 36px;
  height: 11px;
  background: url('../img/index_do.png') no-repeat 0px 0px;
  background-size: 36px 11px;

}
header .navi .lun{
  display: block;
  position: absolute;
  top: 22px;
  right: 56px;
  width: 36px;
  height: 11px;
  background: url('../img/index_lu.png') no-repeat 0px 0px;
  background-size: 36px 11px;

}
header .img{
  width: 100%;
  height: 197px;
  background: url('../img/bg_img.png') no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -60px;
}
header .app_btn{
  position: absolute;
  left: 50%;
  margin-left: -140px;
  bottom: -10px;
  display: block;
  width: 127px;
  height: 40px;
  background: url('../img/app_down.png') no-repeat;
  background-size: 127px 40px;
}
header .and_btn{
  position: absolute;
  right: 50%;
  margin-right: -140px;
  bottom: -10px;
  display: block;
  width: 127px;
  height: 40px;
  background: url('../img/and_down.png') no-repeat;
  background-size: 127px 40px;
}
footer{
  width: 100%;
  /*height: 575px;*/
  background: url('../img/bg_footer.png') no-repeat;
  background-size: 100% auto;
}
.index_img{
  position: relative;
  margin: 0 auto;
  width: 91%;
  height: 179px;
  background: url('../img/index_img.png') no-repeat;
  /*background-size: 336px 179px;*/
  background-size: 100% 179px;

}
.index-main{margin-top: 50px;}
.index_img .index_img_txt{
  padding: 3px 6px;
  position: absolute;
  bottom: 0px;
  background: rgba(0,0,0,.7);
  color: #fff;
}
.index_img .index_img_txt span{display: block;text-align: left;}
.index_img .index_img_txt .text1{font-size: 8px;padding-top: 3px;}
.index_navi > a{
  color: #9f9a98;
  font-size: 11px;
  height: 34px;
  line-height: 34px;
  background: url('../img/index_nav_n.png');
  background-size:89px 34px;
  text-align: center;
  margin-top: 9px;
}
.index_navi > a.active{
  background: url('../img/index_nav_a.png') no-repeat;
  background-size:cover 34px;
}
.index_add{
  height: 40px;
  line-height: 40px;
  color: #ca3433;
  background: #070f0f;
  text-align: center;
  border-bottom: 1px dashed #fff;
}
.index_add a{
  padding-right: 10px;
  background: url('../img/sarraw.png') no-repeat right;
  background-size: 6px 6px;
  color: #ca3433;

}
.index_add_detail{padding: 7px 0;background: rgba(0,0,0,.4);}
.index_add_detail>a{
  display: block;
  max-width: 200px;
  height: 27px;
  line-height: 27px;
  color: #939290;
  padding-left: 27px;
  background: url('../img/sarraw.png') no-repeat 17px 10px;
  background-size: 6px 6px;
}
.index_add_detail>a>span{
  position: absolute;
  right: 18px;
  color: #3b3b38;
}

.index_add_detail .red{color: #d92f16;}
.guanwei{
  margin-top: 9px;
  padding-bottom: 53px;
}
.guanwei>div>a{
  display: block;
  width: 78px;
  height: 78px;
  background: url('../img/index_guan.png') no-repeat;
  background-size: 343px 80px;
  margin: 3px auto;
}
.guanwei>div>a.item_1{
  background: url('../img/index_guan.png') no-repeat -87px 0px;
  background-size: 343px 80px;
}
.guanwei>div>a.item_2{
  background: url('../img/index_guan.png') no-repeat -173px 0px;
  background-size: 343px 80px;
}
.guanwei>div>a.item_3{
  background: url('../img/index_guan.png') no-repeat -258px 0px;
  background-size: 343px 80px;
}

/*新闻*/
.news_loc{
  position: relative;
  width: 100%;
  height: 51px;
  background: url('../img/bg_loc.png') no-repeat;
  background-size: 100% 51px;
}
.new_loc_text{
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #aeaeae;
  font-size: .8rem;
}
.text_news{
  position: absolute;
  left: 15px;
  bottom: 6px;
  width: 31px;
  height: 18px;
  background:url('../img/text_news.png') no-repeat;
  background-size: 31px 18px;
}
.text_game{
  position: absolute;
  left: 15px;
  bottom: 6px;
  width: 55px;
  height: 18px;
  background:url('../img/text_game.png') no-repeat;
  background-size: 55px 18px;
}
@media screen and (max-width: 321px){
  .news_news{
    width: 310px;
    margin: 0 auto;
    padding-top: 40px;
    background: url(../img/box_head.png) no-repeat center 0;
    background-size:100% 40px; 
    position: relative;
  }
  .news_news_footer{
    margin: 0 auto;
    width: 302px;
    padding-bottom: 14px;
    background: url(../img/box_foot.png) no-repeat center bottom;
    background-size: 100% 18px;
  }
  .news_news_core{
    margin-top: -28px;
    padding: 0 10px;
    background: url(../img/box_bg.png) repeat-y center 0;
    background-size: 100% 38px;
  }

}
@media screen and (min-width: 321px){
  .news_news{
    width: 360px;
    margin: 0 auto;
    padding-top: 40px;
    background: url(../img/box_head.png) no-repeat center 0;
    background-size:100% 40px; 
    position: relative;
  }
  .news_news_footer{
    margin: 0 auto;
    width: 352px;
    padding-bottom: 14px;
    background: url(../img/box_foot.png) no-repeat center bottom;
    background-size: 100% 18px;
  }
  .news_news_core{
    margin-top: -28px;
    padding: 0 10px;
    background: url(../img/box_bg.png) repeat-y center 0;
    background-size: 100% 38px;
  }

}
.news_news .news_title{
  font-size: 1.1rem;
  color: #e5c4a4;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;

}
.news_news .news_time{
  font-size: .8rem;
  color: #aeaeae;
  position: absolute;
  right: 40px;
  top: 39px;


}
.news_news .news_text{
  font-size: .7rem;
  color: #fff;
  text-indent:2rem;
  margin: 0 15px 15px 15px;
  line-height: 1.3rem;
}
.news_page{
  font-size: .7rem;
  padding: 10px 0 25px 0;
  position: relative;
}
.news_page .pre{
  color: #aeaeae;
  position: absolute;
  left: 30px;
}
.news_page .next{
  color: #aeaeae;
  position: absolute;
  right: 30px;
}

/*游戏*/
.game_news{
  margin: 5px 10px !important;
  padding: 8px 10px !important;
}
.gameRole_news{
  margin: 5px 10px !important;
  padding: 18px 10px !important;
}
.game_navi{
  margin: 0 10px;
}
.game_role{
  width: 77px;
  height: 91px;
  /*float: left;*/
}
.game_right{
  color: #fff;
  margin-left: 13px;
}
.game_right h1{
  border-bottom: 1px dashed #6c645e;
  padding: 8px 0;
}
.game_right h2{
  font-size: .7rem;
  line-height: 1rem;
  padding: 5px 0;
}
/*下载*/
.news_download{padding: 11px 15px;color: #fff;position: relative;top: -40px;}
.news_download0{margin-top: 10px;}
.download_1{
  float: left;
  width: 116px;
  height: 29px;
  background: url('../img/download_1.png') no-repeat;
  background-size:116px 29px; 
}
.download_2{
  float: left;
  width: 116px;
  height: 29px;
  background: url('../img/download_2.png') no-repeat;
  background-size:116px 29px; 
}
.download_text1{float: left;font-size: .9rem;color: #e5c4a4;position: relative;top: 14px;left: 10px;}
.download_img{
  margin-top: 16px; 
}
.download_img_app{
  display: block;
  width: 130px;
  height: 41px;
  background: url('../img/download_app.png') no-repeat;
  background-size:130px 41px; 
  margin-bottom: 5px;
}
.download_img_and{
  display: block;
  width: 130px;
  height: 41px;
  background: url('../img/download_and.png') no-repeat;
  background-size:130px 41px; 
  margin-bottom: 5px;
}
.download_img_text{
  font-size: .9rem;
  color: #dea233;
  line-height: 1.4rem;
}
.download_img_text .title{
  width: 48px;
  float: left;
  color: #e6a62f;
  display: block;
  position: relative;
}
.download_img_text .small{
  letter-spacing: 24px;
  white-space: nowrap;
}
.download_img_text .title:after{
  content: ':';
  position: absolute;
  right: 0;
  margin-right: -5px;
  letter-spacing: 0px;
}
.download_img_text .con{
  color: #fff;
  display: block;
  margin-left: 58px;
  text-align: left;
}
.news_footer{
  padding-bottom: 90px;
}
.download_img .download{
  width: 106px;
  height: 107px;
  background: url('../img/download.png') no-repeat;
  background-size:106px 107px; 
}
.download_img .text_2{
  margin: 26px;
  font-size: .9rem;
  line-height: 1.3rem;
}
/*游戏介绍*/
.game_intro_img{
  margin: 10px 5px 1px 10px;
  float: left;
  width: 181px;
  height: 100px;
}
.game_intro_right h1{
  margin-top: 5px;
  font-size: 1rem;
  color: #dda133;
}
.game_intro_right h2{
  font-size: .8rem;
  line-height: 1.4rem;
}
/*小伙伴图鉴*/
.game_role_box{
  width: 48%;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: .6rem;
  text-align: center;
  margin: 5px 0;
}
.game_role_img{
  display: block;
  margin: 0 auto;
  width: 125px;
  height:72px;
}
.game_role_box .text_1{
  font-size: .8rem;
  margin: 3px 0;
}


.pgn {
  line-height: 27px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  padding: 16px 0;
}
.pgn * {
  display: inline-block;
  border: 1px solid #121716;
  background: #39393c url(../img/pgn_bg.jpg) repeat-x 0 0;
  background: linear-gradient(#434345, #2c2c2e);
  padding: 0 7px;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 0 #5a5b5c inset;
}

























